.tpimg{
  margin: -400px -200px 30px;

}

.tpimg.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogp2{
    margin-top: 180px;
    padding: 50px 200px;
    background-color:whitesmoke;
}

.blog-post-title {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid black;
}

.blog-post-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.blog-post-content {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}

.power-tool-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.power-tool-section .cj{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgb(28, 80, 180);
}

.power-tool-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.power-tool-section h2 {
  font-size: 25px;
  margin-bottom: 5px;
  color: black;
}

.power-tool-section p {
  font-size: 18px;
  line-height: 1.7;
}
.power-tool-section p a{
  font-size: 18px;
}

.power-tool-section li{
  list-style: square;
  margin-left: 55px;
  font-size: 18px;
  margin-top: 5px;
}

.power-tool-section p a:hover{
  text-decoration: underline steelblue;
}

.ka a{
  font-size: 18px;
}
.ka a:hover{
  text-decoration: underline steelblue;
}




@media all and (max-width: 430px) {
              .tpimg{
                margin-top: 20%;
                width: 100%;
                height: 200px;
                margin-left: 5px;
              }

              .blogp2{
                  margin-top: -100px;
                  padding: 40px 40px;
              }

              .blog-post-title {
                font-size: 16px;
                margin-bottom: 10px;
                margin-top: -10px;

              }

              .blog-post-date {
                font-size: 10px;
                margin-bottom: 5px;
              }

              .blog-post-content {
                font-size: 11px;
                line-height: 1.9;
                text-align: justify;
              }

              .power-tool-section {
                margin-top: 20px;
                margin-bottom: 20px;
              }

              .power-tool-section .cj{
                width: 200px;
                height: 175px;
                margin-top: 20px;
                margin-bottom: 20px;
              }


              .power-tool-section h2 {
                font-size: 14px;
                margin-bottom: 2px;
                color: black;
              }

              .power-tool-section p {
                font-size: 11px;
                line-height: 1.9;
              }
              .power-tool-section p a{
                font-size: 11px;
              }

              .power-tool-section li{
                font-size: 11px;
              }

              .ka a{
                font-size: 11px;
              }


}